[submodule "pillow-api"]
	path = pillow-api
	url = https://github.com/Kweall/pillow-api.git
[submodule "2/userver-projects/pillow-api"]
	path = 2/userver-projects/pillow-api
	url = https://github.com/Kweall/pillow-api.git
[submodule "3"]
	path = 3
	url = https://github.com/Kweall/pillow-postgres.git
[submodule "5/pillow-redis"]
	path = 5/pillow-redis
	url = https://github.com/Kweall/pillow-redis.git
